<% if signed_in? %>
  <div class="row col-md-4">
    <aside class="well">
      <section>
        <%= render 'shared/user_info' %>
      </section>
       <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>

    </aside>
     </div>
    <div class="col-md-8">
      <div class="well">
      <h3>Tweet Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
 
<% else %>
<div class="center col-md-offset-1 col-md-6 welcome">
<div class="welcometext">Welcome to JsTwitter</div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">   
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <h3>Share your Thoughts and Discoveries.</h3>
        </div>
        <div class="item">
            <h3>Know the latest announcements.</h3>
        </div>
        <div class="item">
            <h3>Get Mule's latest one-liners!</h3>
        </div>
        <div class="item">
            <h3>Know what technology they are talking about!</h3>
        </div>
        <div class="item">
            <h3><em>"Yash, when are you rolling next? :P"</em></h3>
        </div>
        <div class="item">
            <h3>Checkout what game Ansal is working on.</h2>
        </div>
        <div class="item">
            <h3><em>"Going to Kaggalipura at 6, anyone coming?"</em></h3>
        </div>
        <div class="item">
            <h3>Get Manoj Weather Predictions.</h3>
        </div>
        <div class="item">
            <h3><em>"Hey, They got Baadusha!!"</em></h3>
        </div>
    </div>
</div>
</div>
<div class="col-md-offset-8 well loginbox">
    <h1>Twitter For <%= link_to image_tag "jaaga.jpg", alt: "Jaaga" %> Study</h1>
    <h2>
      See what they are doing at Farmhouse!
    </h2>
<div class="center">
    <%= link_to "Signup Now!", signup_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Login Now!", signin_path, class: "btn btn-large btn-info" %>
</div>
</div>

<% end %>

 